<!-- <div class="header">
  <a routerLink="/" class="logo">CHATZAP-PMI</a>
  <div class="header-right">
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a class="active" routerLink="/rooms" routerLinkActive="active">Salas</a>
    <a class="active" routerLink="/login">login</a>
    <a class="exit" href="#">Logoff</a>
  </div>
</div>

<div class="container">
  <div class="child">
    <h1>Seja bem vindo ao chat de suporte ao usuario da Prefeitura Municiapal de Itaqui, sistema com integração ao
      whatsapp.</h1>



  </div>
</div> -->

<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
    <p>{{ isPublic }}</p>
  </header>
</div>